<% include ./partials/header.ejs%>
	<div class="container">

		<div class="list group" style="margin:5vh; text-align: right;">
			<div ><%= name %></div>
			<div ><%= additional %></div>
		</div>
		
		<div class="row">
			<div class="col-md-6" style="margin:10vh auto">
				<h2 style="text-align: center">
					Main Menu
				</h2>
				<div class="list-group">
					  <a href="/resource" class="list-group-item list-group-item-action active">Add Resource</a>
					  <a href="/emergence" class="list-group-item list-group-item-action">Add Emergence Incident</a>
					  <a href="/resources" class="list-group-item list-group-item-action">Search Resources</a>
					  <a href="/status" class="list-group-item list-group-item-action">Resource Status</a>
					  <a href="/report" class="list-group-item list-group-item-action disabled">Resource Report</a>
				</div>
		</div>
		</div>
	</div>
	
<% include ./partials/footer.ejs%>
